# OS & Editor
.DS_Store
.idea/
*.iml
.vscode/
*.log

# Environment & Credentials
.env
*.env
application-local.properties
backend/src/main/resources/application-local.properties

# Backend / Gradle & Java
backend/.gradle/
backend/build/
backend/out/

# Frontend / React & Node
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.idea/